/*Mantened un orden. Sobre todo para no tener que volvernos locos.
  SIEMPRE tener separado @ALGO.
  SIEMPRE que se trate de una CLASE de una etiqueta colocar esta DEBAJO de la propia etiqueta.
  Para las etiquetas que tienen etiqutes dentro lo mismo.
  SIEMPRE que sea una ID, será única y específica, colocar al FINAL; de ser posible en orden alfabético.
  Ej:
  Caso 1
	footer{...}
	footer.algo{...}
 */
 .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

p#transcripcion1, p#transcripcion2{
	display: none;
}

.tabcontent h3{
	cursor: pointer;
}