/*Mantened un orden. Sobre todo para no tener que volvernos locos.
  SIEMPRE tener separado @ALGO.
  SIEMPRE que se trate de una CLASE de una etiqueta colocar esta DEBAJO de la propia etiqueta.
  Para las etiquetas que tienen etiqutes dentro lo mismo.
  SIEMPRE que sea una ID, será única y específica, colocar al FINAL; de ser posible en orden alfabético.
  Ej:
  Caso 1
	footer{...}
	footer a{...}
 */
* {
  box-sizing: border-box;
}

/*HTML es la capa base*/
html{
	background: #FFDD99;
}
/*Body es la capa por encima, lo mimso que una capa 3*/
body{
	background: #FFFFFF;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 20px;
}
/*Header, main, nav, footer, asides y demás serán, entonces, la capa 2*/
header{
	margin-left: 50px;
	margin-right: 50px;
}
nav.mig_pan{
	margin-left: 50px;
	margin-right: 50px;
}
nav.mig_pan a{
	/*border: 1px solid #555;
	text-align: center;*/
}
main{
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 20px;
}
nav{
	
}
main nav.bar_nav ul{
	list-style-type: none;
	padding-inline-start: 0px;
	text-align: center;
	
}
main nav.bar_nav ul li{
	display: inline;
	background-color: #333;
}
main nav.bar_nav ul li a{
	padding: 0px 15px 0px 15px;
	text-decoration: none;
	font-size: 20px;
	background-color: #0C008F;;
	color: white;
}
main nav.bar_nav ul li a:hover{
	background-color: white;
	color:black;
	font-size:200%;/*--Preguntar si esto no es un problema para una persona dicapacitada--*/
}

main article.art_des{
	border: 1px solid black;
	padding: 5px;
	bottom: 5px;
}
main article.clearfix::after{
	content: "";
	clear: both;
	display: table;
}
main article.art_des section{
	border: 1px solid black;
	padding: 5px;
	width: 49%;
	float: left;
	margin: 5px;
}

aside{
	background-color: #f1f1f1;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-top: 20px;
}
footer{
	color: #FFFFFF;
	background: #0C008F;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 1px;
	padding-top: 1px;
	border-radius: 0 0 20px 20px;
}
footer a{
	color: #FFFFFF;
}
footer a:visited{
	color: #BABABA;
}
footer a:hover{
	background-color: #ddd;
	color: black;
	font-size:150%;/*Aumenta el tamaño del enlace al pasar el cursor por encima*/
}
/*El resto serán las capas 1 y 0*/
h1{
	color: #2A1B50;
	
	margin-right: 950px;
	font-family: Garamond, serif;
	border-bottom: solid red;
}
p{
	font-family: Trebuchet MS, sans-serif;
}
#logotipo{
	background-color: #33cc33;
	margin: 10px;
	border-radius: 0 0 100px 100px;
	padding: 10px;
}

/*---------------------------------*/
@media screen and (max-width:1200px){
	main article.art_des section{
	width: auto;
}
}