/*Mantened un orden. Sobre todo para no tener que volvernos locos.
  SIEMPRE tener separado @ALGO.
  SIEMPRE que se trate de una CLASE de una etiqueta colocar esta DEBAJO de la propia etiqueta.
  Para las etiquetas que tienen etiqutes dentro lo mismo.
  SIEMPRE que sea una ID, será única y específica, colocar al FINAL; de ser posible en orden alfabético.
  Ej:
  Caso 1
	footer{...}
	footer.algo{...}
 */
* {
  
}

/*HTML es la capa base*/
html{
	background-color: var(--fondo1, white);
}
/*Body es la capa por encima, lo mimso que una capa 3*/
body{
	background: var(--fondo5, white );
	color: var(--color4, black);
	margin: 2em;
	border-radius: 1.25em;
}
/*Header, main, nav, footer, asides y demás serán, entonces, la capa 2*/
header, main, aside, footer{
	padding:0.4em 4em 0.4em 4em;
}
header{
	background-color: var(--fondo2, aquamarine);
	color: var(--color5, white);
	border-radius: 1.25em 1.25em 0 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
header h1{
	font-size: 10vw;
	width: 50%;
	text-align: center;
}

nav.mig_pan{
	padding: 0 4em;
}
nav.bar_nav{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
}

nav.bar_nav a{
	text-decoration: none;
	color:var(--color3, white);
	font-size:larger;
	padding: 1em 2em 1em 2em;
    margin-left: auto;
    margin-right: auto;
}
nav.bar_nav a:hover{
	background-color: white;
	color:black;
	border-radius: 3em;
	/*font-size:larger;*/
}
/**/
nav.bar_tem ul{
	list-style-type: none;
    padding-inline-start: 0px;
    text-align: center;
}
nav.bar_tem ul li{
	display: inline;
}
nav.bar_tem ul li a{
	padding: 0 0.938em 0 0.938em;
    text-decoration: none;
    font-size: 1.25em;
    background: var(--fondo4, navy);
    color: white;
	line-height: 2em;
}
nav.bar_tem ul li a:hover{
	background-color: white;
	color:black;
	/*font-size:larger;*/
}
main{
	background-color: var(--fondo5, white);
	padding-bottom: 1em;
	padding-top:1em;
}
main > p{
	text-align: center;
}
aside{
	
	background-color: var(--fondo3, silver);
}
footer{
	
	background-color: var(--fondo4, navy);
	color: var(--color5, white);
	border-radius: 0 0 1.25em 1.25em;
}
footer a{
	color: var(--color5, white);
	text-decoration: none;
}
footer a:visited{
	color: var(--color6, yellow);

}
footer a:hover{
	background-color: var(--color6, azure);
	color: var(--color4, black);
	font-size:large;/*Aumenta el tamaño del enlace al pasar el cursor por encima*/
}
/*El resto serán las capas 1 y 0*/
h1{
}
p{}
a{}
a.actual{
	font-weight:bold;
	text-decoration:underline;
}
article.art_des.clearfix {
	margin: 0 -3em;
    padding: 0 1em;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
}
article.art_des h3{
	width: 100%;
	border-bottom: 1px solid black;
}
section.sec_1, section.sec_2{
	width:49%;
	
}
section.sec_1 p, section.sec_2 p{
	padding: 0.5em;;
}
section.sec_1{
	border-right: 1px solid black;
}
section.sec_1 figure img{
	width: 100%;
	height: auto;
}
#logotipo{
	margin-top: 1em;
}
#logotipo img{
	width: 100%;
    max-width: 200px;
    height: auto;
}
/*@media y demás serán para modificar la web en funcion las pantallas*/
@media screen and (max-width:1200px){
	
}
/*---------------------------------*/
@media screen and (max-width: 570px){
	
}
/*----Colores----*/
:root {
	--fondo1: #FFDD99;
	--fondo2: #11c5df;
	--fondo3: #f1f1f1;
	--fondo4: #0C008F;
	--fondo5: white;
	--color1: #E1FF00;
	--color2: #2A1B50;
	--color3: #ddd;
	--color4: black;
	--color5: white;
	--color6: #ddd;
}

